/*http://static.mlstatic.com/org-img/Manual/index.html*/
/*http://ux.mercadolibre.com/brandbook/*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/**********************************************************/

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**********************************************************/

html {
    height: 100%;
}

body{
	background: url('tm.png') #332F2C;
   	cursor: url('cursor.png'),auto;
}
/**********************************************************/

.banner{	
	position: sticky;
	top: 0px;
	height: 42px;
	width: 100%;
 	background: url('logo.png') 1% 0% no-repeat, linear-gradient(to right, rgba(250,250,250,1.0) 10%,  rgba(0,0,0,1.0) 10%,  rgba(0,0,0,1.0));
        /*border-bottom: 2px solid BLACK;*/
	z-index: 1;
	
	font: bold 26px 'Lato', sans-serif;
	color:  WHITE;
	text-align: left;
	padding: 5px 0px 0px 200px;
	text-decoration: none
}
.title{		
	font: bold 45px 'Lato', sans-serif;
	color:  WHITE;
	background-color: rgba(64,64,64, 0.5);
	text-align: left;
	padding: 0px 0px 0px 30px;
    	text-shadow: 0px 0px 30px BLACK;
}

/*********************************************/

.wrap{
        width: 1080px;
        margin: auto;
	background: DIMGRAY;
        color: WHITE;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
	display: flex;
}

ul.tabs{
	width: 150px;
	height: 300px;
	background: #00000000;

	display: flex;
 	flex-direction: column;
	list-style: none;
        padding: 0px;
        margin: 0px;
}
ul.tabs li.tab1{
	width: 100%;
	height: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0px 0px 0px 0px;
    	background: DARKCYAN url('tab1.PNG') center no-repeat;
	box-shadow: inset 0 0 0 50vw rgba(14,84,123,0.7);  	
	border-top-left-radius: 15px;
    	border-bottom-left-radius: 15px;
    	border-right: dimgray;
}
ul.tabs li.tab2{
	width: 100%;
	height: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0px 0px 0px 0px;
    	background: SEAGREEN url('tab2.png') center no-repeat;   
	box-shadow: inset 0 0 0 50vw rgba(36,70,35,0.7);
    	border-top-left-radius: 15px;
    	border-bottom-left-radius: 15px;
    	border-right: dimgray;
}
ul.tabs li.tab3{
	width: 100%;
	height: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0px 0px 0px 0px;
    	background: DARKRED url('tab3.PNG') center no-repeat;   
	box-shadow: inset 0 0 0 50vw rgba(131,22,11,0.7);
    	border-top-left-radius: 15px;
    	border-bottom-left-radius: 15px;
    	border-right: dimgray;
}
ul.tabs li.tab4{
	width: 100%;
	height: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0px 0px 0px 0px;
    	background: GOLD url('tab4.png') center no-repeat;   
	box-shadow: inset 0 0 0 50vw rgba(240,192,7,0.7);
    	border-top-left-radius: 15px;
    	border-bottom-left-radius: 15px;
    	border-right: dimgray;
}
ul.tabs li.tab5{
	width: 100%;
	height: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0px 0px 0px 0px;
    	background: #663399 url('tab5.png') center no-repeat;   
	box-shadow: inset 0 0 0 50vw rgba(60,0,104,0.7);
    	border-top-left-radius: 15px;
    	border-bottom-left-radius: 15px;
    	border-right: dimgray;
}
ul.tabs li:hover {
	box-shadow: inset 0 0 0 50vw rgba(0,0,0, 0.8);
	transition: box-shadow 0.5s ease-out;
}

ul.tabs li a{
	font: bold 10px 'Lato', sans-serif;
	color:  WHITE;
	text-align: left;
	display: block;
	padding: 80px 0px 0px 20px;
	text-decoration: none
}

.active{
	background: rgba(51, 51, 51, 0.5);
    	border-top-left-radius: 13px;
    	border-bottom-left-radius: 13px;
    	border-left: 5px LightGray;
}

.secciones{
	list-style: none;
	width: 900px;
	height: 1200px;
	box-sizing: border-box;
    	background: #333333;
        margin: 0px 0px 0px 0px;
   	padding: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
}

.secciones article{
	margin: auto;
	padding: 5px;
	font: bold 12px 'Lato', sans-serif;
	color:  WHITE;
	text-align: left;
	text-decoration: none
}

.secciones article p{
	margin: auto;
	text-align: justify;
}

/**********************************************************/

.section1 {
	position:relative;
	padding: 5px;
 	border: 2px solid WHITE;
	border-radius: 10px;
	background: repeating-linear-gradient(45deg, #1D1D1D, #1D1D1D 10px, #333333 10px, #333333 20px);
}

.sectionText1 {
	height: 1150px;
	position:relative;
	margin: auto auto auto auto;
	padding: 20px;
	border-radius: 10px;
	background: linear-gradient(to bottom, rgba(14,84,123,0.95) 15%, rgba(155,155,155,0.65) 15%, rgba(155,155,155,0.65));
}

.sectionText1 legend {
	font: bold 22px 'Arial', sans-serif;
	width: 800px;
	margin: -5px 0px 20px -20px; 
	padding: 5px 20px 5px 20px;
	border-radius: 0px 50px 50px 0px;
	background: BLACK;
   	color: WHITE;
    	text-shadow: 0px 0px 5px BLUE;
}
.sectionText1 p {
	padding: 0px 20px 0px 20px;
	font: 16px 'Arial', sans-serif;
   	color: BLACK;
}
.sectionText1 img {
	border: 2px solid rgba(36,70,35,0.95);
	padding: 5px 5px 5px 5px;
}

/**********************************************************/

.section2 {
	position:relative;
	padding: 5px;
 	border: 2px solid WHITE;
	border-radius: 10px;
	background: repeating-linear-gradient(45deg, #1D1D1D, #1D1D1D 10px, #333333 10px, #333333 20px);
}

.sectionText2 {
	overflow-y: scroll; 
	height: 1150px;
	position:relative;
	margin: auto auto auto auto;
	padding: 20px;
	border-radius: 10px;
	background: linear-gradient(to bottom, rgba(36,70,35,0.95) 15%, rgba(155,155,155,0.65) 15%, rgba(155,155,155,0.65));
}

.sectionText2 legend {
	font: bold 22px 'Arial', sans-serif;
	width: 800px;
	margin: -5px 0px 20px -20px; 
	padding: 5px 20px 5px 20px;
	border-radius: 0px 50px 50px 0px;
	background: BLACK;
   	color: WHITE;
    	text-shadow: 0px 0px 5px GREEN;
}
.sectionText2 p {
	padding: 0px 20px 0px 20px;
	font: 16px 'Arial', sans-serif;
   	color: BLACK;
}
.sectionText2 img {
	border: 2px solid rgba(36,70,35,0.95);
	padding: 5px 5px 5px 5px;
}

.sectionText2 table.Hoja {
  	margin-left: auto;
  	margin-right: auto;
	padding: 5px 5px 5px 5px;
  	border: 2px solid rgba(36,70,35,0.95);
  	width: 95%;
	text-align: left;
  	background-color: rgba(255,255,255,0.8);
	font: 16px 'Arial', sans-serif;
   	color: BLACK;
}

/**********************************************************/

.section3 {
	position:relative;
	padding: 5px;
 	border: 2px solid WHITE;
	border-radius: 10px;
	background: repeating-linear-gradient(45deg, #1D1D1D, #1D1D1D 10px, #333333 10px, #333333 20px);
}

.sectionText3 {
	overflow-y: scroll; 
	height: 1150px;
	position:relative;
	margin: auto auto auto auto;
	padding: 20px;
	border-radius: 10px;
	background: linear-gradient(to bottom, rgba(131,22,11,0.95) 15%, rgba(155,155,155,0.65) 15%, rgba(155,155,155,0.65));
}

.sectionText3 legend {
	font: bold 22px 'Arial', sans-serif;
	width: 800px;
	margin: -5px 0px 20px -20px; 
	padding: 5px 20px 5px 20px;
	border-radius: 0px 50px 50px 0px;
	background: BLACK;
   	color: WHITE;
    	text-shadow: 0px 0px 5px RED;
}
.sectionText3 p {
	padding: 0px 20px 0px 20px;
	font: 16px 'Arial', sans-serif;
   	color: BLACK;
}
.sectionText3 img {
	border: 2px solid rgba(131,22,11,0.95);
	padding: 5px 5px 5px 5px;
}
.sectionText3 iframe {
	border: 2px solid rgba(131,22,11,0.95);
	padding: 5px 5px 5px 5px;
}

.sectionText3 table.RobotSelector {
  	margin-left: auto;
  	margin-right: auto;
  	border: 2px solid WHITE;
  	width: 95%;
	text-align: center;
  	background-color: rgba(0,0,0,0.8);
	font: 12px 'Arial', sans-serif;
   	color: WHITE;
}

.sectionText3 table.IO {
  	margin-left: auto;
  	margin-right: auto;
	padding: 5px 5px 5px 5px;
  	border: 2px solid rgba(131,22,11,0.95);
  	width: 95%;
	text-align: left;
  	background-color: rgba(255,255,255,0.8);
	font: 16px 'Arial', sans-serif;
   	color: BLACK;
}

.sectionText3 fieldset  {
	padding: 5px 5px 10px 5px;
	border: 2px solid  GRAY;
	border-radius: 10px;
	background: rgba(51,51,51,0.3);
}
.sectionText3 fieldset legend{
	width: 350px;
	border: 2px solid  GRAY;
	border-radius: 5px;
	margin: 20px 10px 10px 10px;
	padding: 5px;
	font: 16px 'Arial', sans-serif;
	background: rgba(0,0,0,1);
	text-shadow:none;
}
/**********************************************************/

.section4 {
	position:relative;
	padding: 5px;
 	border: 2px solid WHITE;
	border-radius: 10px;
	background: repeating-linear-gradient(45deg, #1D1D1D, #1D1D1D 10px, #333333 10px, #333333 20px);
}

.sectionText4 {
	overflow-y: scroll; 
	height: 1150px;
	position:relative;
	margin: auto auto auto auto;
	padding: 20px;
	border-radius: 10px;
	background: linear-gradient(to bottom, rgba(240,192,7,0.95) 15%, rgba(155,155,155,0.65) 15%, rgba(155,155,155,0.65));
}

.sectionText4 legend {
	font: bold 22px 'Arial', sans-serif;
	width: 800px;
	margin: -5px 0px 20px -20px; 
	padding: 5px 20px 5px 20px;
	border-radius: 0px 50px 50px 0px;
	background: BLACK;  
   	color: WHITE;
    	text-shadow: 0px 0px 5px YELLOW;
}
.sectionText4 p {
	padding: 0px 20px 0px 20px;
	font: 16px 'Arial', sans-serif;
   	color: BLACK;
}
.sectionText4 img {
	border: 2px solid GOLD;
	padding: 5px 5px 5px 5px;
}
.sectionText4 form {
	padding: 0px 20px 0px 20px;
}
.section4 form button.Download{
	width:100px;height:20px;
	border: 2px inset rgba(255,255,255,1);
	border-radius: 1%;
	font: bold 12px 'Arial', sans-serif;
	text-align: center;
	color: WHITE;
	background-color: GOLD;
}
.section4 form button:hover{
	border: 2px inset YELLOW;
}
/**********************************************************/


.section5 {
	position:relative;
	padding: 5px;
 	border: 2px solid WHITE;
	border-radius: 10px;
	background: repeating-linear-gradient(45deg, #1D1D1D, #1D1D1D 10px, #333333 10px, #333333 20px);
}

.sectionText5 {
	overflow-y: scroll; 
	height: 1150px;
	position:relative;
	margin: auto auto auto auto;
	padding: 20px;
	border-radius: 10px;
	background: linear-gradient(to bottom, rgba(56,22,64,0.95) 15%, rgba(155,155,155,0.65) 15%, rgba(155,155,155,0.65));
}

.sectionText5 legend {
	font: bold 22px 'Arial', sans-serif;
	width: 800px;
	margin: -5px 0px 20px -20px; 
	padding: 5px 20px 5px 20px;
	border-radius: 0px 50px 50px 0px;
	background: BLACK;  
   	color: WHITE;
    	text-shadow: 0px 0px 5px PURPLE;
}
.sectionText5 p {
	padding: 0px 20px 0px 20px;
	font: 16px 'Arial', sans-serif;
   	color: BLACK;
}
.sectionText5 img {
	border: 2px solid rgba(56,22,64,0.95);
	padding: 5px 5px 5px 5px;
}
.sectionText5 form {
	padding: 0px 20px 0px 20px;
}
.section5 form button.Download{
	width:100px;height:20px;
	border: 2px inset rgba(255,255,255,1);
	border-radius: 1%;
	font: bold 12px 'Arial', sans-serif;
	text-align: center;
	color: WHITE;
	background-color: INDIGO;
}
.section5 form button:hover{
	border: 2px inset MEDIUMPURPLE;
}

.sectionText5 textarea {
	width: 250px; height:26px;
	font: 13px 'Lato', sans-serif;
	padding: 3px 3px 3px 5px;
	border: 2px solid  WHITE;
	border-radius: 5px;
	resize:none;
}

.section5 button.buttonLink1{
	width:300px; height:120px;
	border: 4px inset rgba(255,255,255,1);
	border-radius: 1%;
	font: bold 12px 'Lato', sans-serif;
  	text-align: left;
	color: BLACK;
        background-image: url("jspanchee.jpg");
	background-repeat: no-repeat;
 	background-color: #cccccc;
 	background-position: right;
}
.section5 button.buttonLink2{
	width:300px; height:120px;
	border: 4px inset rgba(255,255,255,1);
	border-radius: 1%;
	font: bold 12px 'Lato', sans-serif;
	text-align: left;
	color: BLACK;
        background-image: url("jojgutierrezmo.jpg");
	background-repeat: no-repeat;
 	background-color: #cccccc;
 	background-position: right;
}
.section5 button.buttonLink3{
	width:300px; height:120px;
	border: 4px inset rgba(255,255,255,1);
	border-radius: 1%;
	font: bold 12px 'Lato', sans-serif;
	text-align: left;
	color: BLACK;
        background-image: url("jspanchee.png");
	box-shadow: inset 0 0 0 50vw rgba(0,0,0, 0.6);
}
.section5 button.buttonLink4{
	width:450px; height:240px;
	border: 4px inset rgba(255,255,255,1);
	border-radius: 1%;
	font: bold 12px 'Lato', sans-serif;
        text-shadow: 2px 2px 15px WHITE;
	text-align: left;
	color: BLACK;
        background-image: url("pfcardenash.jpg");
}
.section5 button.buttonLink5{
	width:450px; height:240px;
	border: 4px inset rgba(255,255,255,1);
	border-radius: 1%;
	font: bold 12px 'Lato', sans-serif;
        text-shadow: 2px 2px 15px WHITE;
	text-align: right;
	color: BLACK;
        background-image: url("reramirezh.jpg");
}
.section5 button:hover{
	border: 4px inset rgba(0,147,212,1);
}
.section5 button:active{
	border: 4px inset rgba(90,196,241,1);
	color: rgba(255,255,255,1);
}